.locationBox .location {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
.locationBox .date {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.weatherBox {
  text-align: center;
}
.weatherBox .temp,
.location_not_found {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  border-radius: 19px;
  padding: 20px;
  color: rgb(226, 226, 226);
  font-size: 102px;
  font-weight: 900;
  text-align: center;
}
.location_not_found {
  font-size: 2rem;
}
.weatherBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
