* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  font-family: "montseratt", sans-serif;
  height: 100vh;
  background-color: rgb(218, 218, 218);
}
.cold,
.warm,
.notfound {
  background-size: cover;
  background-position: bottom;
  transition: 2s;
  height: 100vh;
}
.cold {
  background-color: rgb(44, 71, 139);
}
.warm {
  background-color: rgb(197, 116, 49);
}
.notfound {
  background-color: rgb(124, 124, 124);
}
.searchBox {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem 0rem 0rem;
}
.searchBox .searchBar {
  display: block;
  width: 70%;
  padding: 1rem;
  outline: none;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: rgb(15, 15, 15);
  font-size: 1rem;
}
